.features {
    position: relative;
    display: flex;
  
    @include for-large-down {
      display: none;
    }
  
    &__content {
      display: flex;
      width: 1140px;
      margin: auto;
    }
  
    &__column {
      width: 459px;
    }
  
    &__subtitle {
      color: $text-color-green;
      font-size: 22px;
      font-weight: 700;
      line-height: 34px;
      margin: 0;
    }
  
    &__title {
      margin-top: 24px;
      margin-bottom: 0;
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      color: $text-color-grey;
    }
  
    &__description {
      font-size: 24px;
      margin-bottom: 0;
      line-height: 34px;
      margin-top: 30px;
    }
  
    &__advantage-header {
      display: flex;
      margin-top: 42px;
    }
  
    &__advantage-title {
      margin: 0;
      margin-left: 15px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: $color-button-get-started;
    }
  
    &__advantage-description {
      margin-top: 8px;
      margin-bottom: 0;
      padding-bottom: 20px;
      font-size: 18px;
      line-height: 26px;
      border-bottom: 3px solid $color-button-get-started;
    }
  
    &__advantage-item {
      display: flex;
      margin-top: 21px;
      padding-bottom: 22px;
      border-bottom: 1px solid $text-color-grey;
    }
  
    &__advantage-item-text {
      font-size: 22px;
      line-height: 26px;
      font-weight: 700;
      margin-left: 15px;
    }
  
    &__left-decoration {
      height: 166px;
      position: absolute;
      top: 258px;
    }
  
    &__banner {
      position: absolute;
      right: 0;
    }
  }