

$text-color-light-grey: #2b292d99;
$text-color-green: #009b4d;
$text-color-black: #000000;
$text-color-blue: #3142c6;
$text-color-grey: #2b292d;
$text-color-white: #ffffff;



$color-white: #ffffff;
$color-blue: #3040c4;
$color-light-blue: #00a1c612;
$color-peach: #f3c6bd;
$color-light-white: #f4f5f7;
$color-blue-hover: #3141c5;
$color-light: #f4f5f7;
$color-black: #000000;



$border-dark-color: #2b292d;
$border-light-color: #e3e3e3;
$border-blue-color: #3142c6;
$border-dark-light-color: #2b292d26;
$border-color: #2b292d33;
$border-dark-lighter-color: #00000026;