.action-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
  color: $text-color-white;
  background-color: $color-blue;
  border: none;
  border-radius: 2px;

  @include for-large-up {
    width: 160px;
  }
}

.hide_desctop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
