.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;
    width: 1140px;
  }

  &__row {
    display: flex;

    @include for-large-up {
      flex-grow: 1;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 94px;
    width: 107px;
    border-bottom: 1px solid $border-light-color;
    border-right: 1px solid $border-light-color;

    &:last-child {
      border-right: none;
    }
    @include for-large-up {
      border: none;
      flex-direction: row;
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}
