.features {
  display: flex;
  position: relative;

  @include for-large-down {
    display: none;
  }

  &__content {
    display: flex;
    margin: auto;
    width: 1140px;
  }

  &__column {
    width: 459px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-green;
    margin: 0;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: $text-color-grey;
  }

  &__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }
  &__advantage-header {
    display: flex;
    margin-top: 42px;
  }

  &__advantage-title {
    margin: 0;
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $text-color-blue;
  }

  &__advantage-description {
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    border-bottom: 3px solid $border-blue-color;
  }

  &__advantage-item {
    display: flex;
    border-bottom: 1px solid $border-dark-light-color;
    margin-top: 21px;
    padding-bottom: 22px;
  }

  &__advantage-item-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 15px;
  }

  &__left-decoration {
    height: 166px;
    position: absolute;
    top: 258px;
  }

  &__banner {
    position: absolute;
    right: 0;
  }
}
